fastapi>=0.101.0
pydantic>=1.10.9
uvicorn
pandas
duckdb
pyarrow
numpy
scikit-learn
statsmodels
matplotlib
boto3
s3fs
openai
python-multipart
google-generativeai
google-genai
aiohttp
genai
requests
lxml
networkx